language: python
group: travis_latest
dist: {{PizzaCutter.travis.linux_version}}
sudo: true

env:
    global:
        # prefix before commands - used for wine, there the prefix is "wine"
        - cPREFIX=""
        # command to launch python interpreter (its different on macOs, there we need python3)
        - cPYTHON="python"
        # command to launch pip (its different on macOs, there we need pip3)
        - cPIP="python -m pip"
        # switch off wine fix me messages
        - WINEDEBUG=fixme-all
        # the registered CLI Command
        - CLI_COMMAND={{PizzaCutter.shell_command}}
        # the source file for rst_include (rebuild rst file includes)
        - RST_INCLUDE_SOURCE="{{PizzaCutter.travis.rst_include_source}}"
        # the target file for rst_include (rebuild rst file includes)
        - RST_INCLUDE_TARGET="{{PizzaCutter.travis.rst_include_target}}"
        # secure environment variable
{{PizzaCutter.travis.secrets}}{{PizzaCutter.option.delete_line_if_empty}}


addons:
    apt:
        packages:
            - xvfb      # install xvfb virtual framebuffer - this we need for WINE
            - winbind   # needed for WINE

services:   			# start services
  - xvfb    			# is needed for WINE on headless installation


matrix:
    include:

{{PizzaCutter.travis_windows_addon}}{{PizzaCutter.option.delete_line_if_empty}}
{{PizzaCutter.travis.linux.tests}}{{PizzaCutter.option.delete_line_if_empty}}
{{PizzaCutter.travis_osx_addon}}{{PizzaCutter.option.delete_line_if_empty}}
{{PizzaCutter.travis_wine_addon}}{{PizzaCutter.option.delete_line_if_empty}}

install:
    - ${cPIP} install lib_travis
    - log_util --colortest
    - lib_travis install

script:
    - BRANCH=$(lib_travis get_branch)
    - log_util --level=NOTICE --banner "working on branch ${BRANCH}"
    - lib_travis script

after_success:
    - lib_travis after_success
    - lib_travis deploy

notifications:
  email:
    recipients:
        - {{PizzaCutter.author_email}}
    # on_success default: change
    on_success: never
    on_failure: always
